@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Mochiy+Pop+One&family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text, .numbertext{
  -webkit-text-stroke: 0.2px black;
}

.index-body{
    background-image: url(Asset/kucing.jpg);
    background-size: 100%;
    font-family: 'Mochiy Pop One', sans-serif;
}

.fav-body{
  background-image: url(Asset/beruang.jpg);
  background-size: 100%;
  font-family: 'Mochiy Pop One', sans-serif;
}

.love-body, html{
  height: 100%;
  margin: 0;
  font-family: 'Mochiy Pop One', sans-serif;
}

.judul{
  background-image: url(Asset/beruang.jpg);
  position: fixed;
  margin: -50px 0;
  width: 100%;
  height: 8%;
}

h1{
  text-align: center;
  justify-content: center;
  padding: 3% 0;
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 0.5px black;
  font-size: 150%;
}

h3, h2{
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px black;
}

.navbar{
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 40.5%;
    align-items: center;
    justify-content: center;
    margin: 12% 30%;
    border-radius: 10%;
    border: 1px solid white;
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    justify-content: center;
    align-items: center;
}

.navbar a:hover{
    background-color: #ddd;
    color: black;
}

.navbar a.active{
    background-color: transparent;
    color: white;
    -webkit-text-stroke: 0.3px black;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 50%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  img{
    width: 100%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 50px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 10px;
    vertical-align: middle;
  }

  .desc{
    color: white;
    -webkit-text-stroke: 0.5px black;
  }

  .bg-image{
    height: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img1{background-image: url(Asset/we6.jpg);}
  .img2{background-image: url(Asset/we2.jpg);}
  .img3{background-image: url(Asset/we3.jpg);}
  .img4{background-image: url(Asset/we4.jpg);}
  .img5{background-image: url(Asset/we5.jpg);}
  .img6{background-image: url(Asset/we7.jpg);}
  .img7{background-image: url(Asset/we1.jpg);}
  .img8{background-image: url(Asset/we10.jpg);}
  .img9{background-image: url(Asset/we9.jpg);}
  .img10{background-image: url(Asset/we8.jpg);}

  .bg-text{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 10px solid #f1f1f1;
    border-radius: 20%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }